@import "./../../index.scss";

.instructions {
    position: absolute; /* Bleibt unabhängig von der Eltern-Komponente */
    top: 11vh;
    left: 45%;
    transform: translate(-70%, -7%);
    width: 450px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    z-index: 100; /* Hebt es über andere Elemente */
    text-align: justify;

    .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .infoBN {
        width: 250px;
        height: 50px;
        border: 2px solid $mblue;
        margin-left: auto;
        margin-right: auto;
        @include flexDir(column, $ai: center);
        p {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }
}
